!!! 5
%html

  %head
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    - if content_for?(:keywords)
      %meta{"name" => "keywords", "content" => yield(:keywords)}
    - if content_for?(:description)
      %meta{"name" => "description", "content" => yield(:description)}

    %title=  @title ? @title : "Another Fine Project by Logical Reality Design"

    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = csrf_meta_tags

    %style{ :type => 'text/css', :media => 'screen, projection' }
      = yield :page_css if content_for? :page_css

    = yield :header

  -# TODO: Turn on these admin lines if the site has an admin interface, otherwise delete them.
  -# %body{ :class => admin? ? 'with_admin' : nil }
  -# = render :partial => 'layouts/admin_nav' if admin?
  %body
    - if Rails.env.development? or Rails.env.staging?
      = render :partial => 'layouts/debug'
    #inset
      #wrap
        #header
          = render :partial => 'layouts/nav'

        #content-wrap
          -# TODO: Suggested place for a sidebar.  Remove if not using it
          -# = render :partial => 'layouts/aux'

          #content
            - if content_for? :headline
              %h1= yield :headline
            #content-body
              = render :partial => 'layouts/flash' , :locals => { :flash => flash }
              = yield
